
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Bootstrap select

@import "node_modules/bootstrap-select/sass/bootstrap-select.scss";

ul, li{
  padding:0;
  list-style-type: none;
}

.first-screen {
  background-color: #464646;
}

.search-block {
  display: flex;
  height: 70vh;
  background: url(../img/main.jpg) 50% 50% fixed, #464646;
  background-size: cover;
  .center-screen {
    margin-top: calc(30vh - 40px);
  }
}
.result-block {
  .result-apartments-block {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccd0d2;
    margin-top: 20px;
    .block-img {
      width: 100px;
      height: 100px;
      overflow: hidden;
      display: inline-block;
      float: left;
      .image-apartaments {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .left-info-block {
      float: left;
      max-width: 340px;
      margin-left: 20px;
    }
    .right-info-block {
      float: right;
    }
  }
}