
.apartment-item {
    margin-bottom: 20px;
}

.apartment-item__link {
    display: flex;
    justify-content: space-between;
    width: 100%;

    padding: 5px;

    color: #000;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    &:focus{
         background-color: rgba(255, 255, 255, 0.8);
         text-decoration: none;
         color: #000;
     }
    &:hover{
         background-color: rgba(255, 255, 255, 0.8);
         text-decoration: none;
         color: #000;
 }
}

.apartment-item__img-container {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.apartment-item__img {
    width:100%;
    height:100%;

    border-radius: 8px;

    object-fit: cover;
    overflow: hidden;
}

.apartment-item__left-info {
    max-width: 340px;
    margin-left: 20px;

}

.apartment-item__right-info {
}

.apartment-item__info-text {
    margin-bottom: 10px;
}