.search .form-control {
    font-size: 24px !important;
}

.search__header {
    text-align: center;
    color: #333;
    font-size: 48px;
}

.search__btn {
    width: 100px;
    outline: none;
    border: 1px solid #ccd0d2;
    background-color: white;
    border-radius: 0;
    border-left: 0;
}